.border {
    border-top: 2px solid #C8C8C8;
    border-bottom: 2px solid #C8C8C8;
    border-left: 2px solid #C8C8C8;
    border-right: 2px solid #C8C8C8;
    height: 150px;
    
}

.up {
   margin-top: 7%;
   height: 40px;
   width: 50px;
   margin-left: 2%;
   margin-right: 2%;
   background-color: beige;
   border-radius: 5%;
   border-color: gray;
   font-weight: bold;
}

.down {
    height: 40px;
    width: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: beige;
    border-radius: 5%;
    border-color: gray;
    font-weight: bold;
}

.right {
    height: 40px;
    width: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: beige;
    border-radius: 5%;
    border-color: gray;
    font-weight: bold;
}

.left {
    height: 40px;
    width: 50px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: beige;
    border-radius: 5%;
    border-color: gray;
    font-weight: bold;
}