.boardcontainer {
    margin-top: 2%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}

.container {
    display: flex;
}

.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../assets/tile.jpg");
}

.board {
    display: inline-flex;
    flex-wrap: wrap;
    width: 600px;
}

.dog {
    width: 80px;
}

.food {
    width: 80px;
    align-self: center;
}

.hole {
    width: 85px;
    height: 55px;
    margin-top: 35%;

}

.cat {
    width: 85px;
    height: 80px;
    /* margin-top: 30%; */

}