.square{
    width:70px;
    height:70px;
}

.v{
    border-left:2px solid #000;
    border-right:2px solid #000;
    border-top:2px solid #000;
    border-bottom:1px solid #000;
}

.h{
    border-top:2px solid #C8C8C8;
    border-bottom:2px solid #C8C8C8;
    border-left:2px solid #C8C8C8;
    border-right:2px solid #C8C8C8;
    background-color: #C8C8C8;
}

.boardcontainer {
    margin-top: 8%;
    margin-left: 5%;
}