.containers {
    width: 550px;
    height: 500px;
}

.borderPanel {
    margin-top: 8%;
    color: white;
    border-radius: 5px;

}

.button {
    margin-top: 10%;
    display: inline-block;
    vertical-align: top;

}

.instuct {
    text-align: left;
    border: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.titles {
    font-weight: bold;
    font-size: 18px;
    margin-right: 50%;
    top: 5%;
    position:relative;
}

.lists {
    background-color: #483C32;
    font-size: 12px;
    margin-right: 55%;
    top: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
}

.bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 11px;
    line-height: 24px;
    width: 160px;
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
    margin-left: 58%;
    top:5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: wheat;
    font-weight: bold;
}   

.bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 24px solid wheat    ;
    border-left: 12px solid transparent;
    border-top: 12px solid wheat;
    border-bottom: 20px solid transparent;
    left: 60%;
    bottom: -25px;
}

.toppart{
    width: 55%; 
    height: 350px; 
    float: left; 
    background: #483C32 ;
    border-radius: 5px;
}

.outside {
    float: left;
}

h2 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.number{
   margin-left: -80%;
   font-size: 18px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.containing {
    float: right;
}