.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.header_logo>img {
  object-fit: contain;
  width: 45px;
  margin-left: 10px;
}

.header_links {
  position: absolute;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  right: 15px;
}

.header_links>p {
  border-bottom: 3px solid #483C32;
  margin: 0 2%;
}


.home {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.about {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
  font-size: 18px;
}