.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.header_logo > img {
  object-fit: contain;
  width: 45px;
  margin-left: 10px;
}

.header_links {
  position: absolute;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  right: 15px;
}

.header_links > p {
  border-bottom: 3px solid #407056;
  margin: 0 2%;
}
