.header {
  position: fixed;
  display: flex;
  padding-left: 30px;
  top: 0;
  width: 100%;

  z-index: 10;
  border-bottom: 2px solid #000;
}

.header_logo > img {
  object-fit: contain;
  width: 50px;
}

.header_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  padding-right: 0px;
}

.header_links > p {
  border-bottom: 3px solid #000;
}
