.boardcontainer {
    margin-top: 2%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}

.container {
    display: flex;
    margin-right: 15%;
}

.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../public/assets/tile.png");
}

.board {
    display: inline-flex;
    flex-wrap: wrap;
    width: 600px;
}

.image {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.bone {
    width: 80px;
    align-self: center;
}

.boardcontainer2 {
    margin-top: 10%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}
.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../public/assets/tile.png");
}

.board2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 350px;
}

.board3 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}

.board4 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}

.board5 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}


.board6 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board7 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10%;
    margin-top: 5%;
}

.board8 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board10 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board11 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
}

.board13 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 5%;
}


.board14 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    margin-top: 5%;
}

.dog {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.food {
    width: 80px;
    align-self: center;
}

.hole {
    width: 85px;
    height: 100px;
}

.cat {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.goal {
    width: 75px;
    margin-left: 5px;
    margin-top: 1px;
    align-self: center;
}

.paw{
    width: 70px;
    margin-left: 3px;
    margin-top: 2px;
}