.boardcontainer {
    margin-top: 2%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}

.container {
    display: flex;
    margin-right: 15%;
}

.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../public/assets/tile.png");
}

.board {
    display: inline-flex;
    flex-wrap: wrap;
    width: 600px;
}

.image {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.bone {
    width: 80px;
    align-self: center;
}

.ball {
    width: 80px;
    margin-top: 9%;
    margin-left: 2px;
}

.boardcontainer2 {
    margin-top: 5%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.boardcontainer4 {
    margin-top: 15%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.boardcontainer13 {
    margin-top: 1%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.boardcontainer14 {
    margin-top: 1%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.boardcontainer16 {
    margin-top: 5%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}

.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../public/assets/tile.png");
}

.board2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 350px;
}

.board3 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}

.board4 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}

.board5 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}


.board6 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board7 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    margin-left: 10%;
    margin-top: 5%;
}

.board8 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board10 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
}

.board11 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    /* overflow: hidden; */
    /* margin-right: 29%; */
}

.board13 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    margin-top: 5%;
}


.board14 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 380px;
    margin-top: 5%;
}

.board16 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 400px;
    margin-top: 2%;
}


.dog {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.food {
    width: 80px;
    align-self: center;
}

.hole {
    width: 85px;
    height: 100px;
}

.cat {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.goal {
    width: 75px;
    margin-left: 5px;
    margin-top: 1px;
    align-self: center;
}

.paw {
    width: 70px;
    margin-left: 3px;
    margin-top: 2px;
}

.numbers {
    margin-top: 1%;
    color: white;
    font-size: 16px;
}

.rows {
    float: left;
    color: white;
    font-size: 16px;
    margin-left: 6%;
}

.wrap {
    overflow: hidden;
    margin-right: 15%;
}

.rowt {
    float: left;
    margin-top: 25%;
    color: white;
    margin-left: 15%;
    font-size: 16px;
}

.buttonIn {
    background-color: wheat;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin: 4px 2px;
    border-radius: 5%;
    color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float:left;
}

.buttonBone {
    background-color: wheat;
    border: none;
    color: white;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
    margin: 4px 2px;
    border-radius: 5%;
    color: black;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    overflow: hidden;
}