.whole {
    margin-left: 5%;
    margin-top: 5%;
}

.containPop {
    width: 10%;
}
.one {
    width: 40%;
    text-align: left;
    display: inline;
    color: red;
    font-weight: bold;
}

.two {
    width: 50%;
    text-align: right;
    display: inline;
    color: green;
    font-weight: bold;
}

.three {
    width: 60%;
    text-align: right;
    display: inline;
    color: blue;
    font-weight: bold;
}

.data {
    color: red;
    font-weight: bold;
}

.varName {
    color: green;
    font-weight: bold;
}

.value {
    color: blue;
    font-weight: bold;
}

.size {
    color: blueviolet;
    font-weight: bold;
}