.boardcontainer2 {
    margin-top: 10%;
    margin-left: 3%;
    flex: 0 0 45%;
}

.top-panel {
    flex: 1;
    margin-top: 5%;
    margin-right: 5%;

}

.container {
    display: flex;
}

.box {
    width: 80px;
    height: 80px;
    display: inline-block;
    line-height: 80px;
    background-image: url("../../../../public/assets/tile.png");
}

.board2 {
    display: inline-flex;
    flex-wrap: wrap;
    width: 450px;
}

.dog {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}

.food {
    width: 80px;
    align-self: center;
}

.hole {
    width: 85px;
    height: 80px;
}

.cat {
    width: 75px;
    margin-left: 3px;
    margin-top: 2px;
}